aiohttp==3.7.4.post0
aiohttp-jinja2==1.5
aioopenssl==0.6.0
aiosasl==0.5.0
aioxmpp==0.13.3
arrow==1.2.3
asgiref==3.6.0
async-timeout==3.0.1
attrs==22.2.0
Babel==2.12.1
cffi==1.15.1
chardet==4.0.0
cryptography==39.0.2
Django==4.1.7
dnspython==2.3.0
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
lxml==4.9.2
MarkupSafe==2.1.2
multidict==4.5.2
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.21
pyOpenSSL==23.0.0
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
singletonify==0.2.3
six==1.16.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
spade==3.2.3
sqlparse==0.4.3
timeago==1.0.8
Pillow==9.4.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
yarl==1.8.2
