{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>AirPlane Reservation - Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="registration-form">
        <h1>Join our airline membership</h1>
         {% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
            <p style="color:red;;">{{ field }}: {{ errors|join:", " }}</p>
        {% endfor %}
    </div>
         {% endif %}
        <form action="{% url 'signup' %}" method="post" onsubmit="return validateForm()">
            {% csrf_token %}
            <label for="last-name">User Name(Login Account)</label>
               {{ form.username }}
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
                {{ form.email }}
            <label for="password">Password</label>
                {{ form.password1 }}
            <label for="confirm-password">Confirm Password</label>
                {{ form.password2 }}
            <label for="country">Country of Residence</label>
            <select id="country" name="country" required>
                <option value="">-- Select a Country --</option>
                <option value="China">China</option>
                <option value="Poland">Poland</option>
                <option value="Turkey">Turkey</option>
                <option value="Denmark">Denmark</option>
                <option value="Other">Other</option>
            </select>
            <input type="submit" value="Join Now">
        </form>
        <p>By joining a member of our airline you agree to our <a href="#">Terms and Conditions</a>.</p>
        <p>Already have an account? <a href={% url 'login' %}>Sign In</a>.</p>
    </div>
</body>
</html>
{% endblock content %}
